body {
    text-align: center;
  }
  
  QDialog{
      border: 1px solid white;
      border-radius: 5px;
      background-color: rgb(186, 227, 230);
      font: 10px Verdana, Arial
      color: blue;
  }
  QGroupBox{
      /*border: 1px solid white;*/
      border-radius: 5px;
      background-color: rgb(186, 227, 230);
      font: 20px Verdana, Arial
      color: rgb(0, 0, 131);
      /*margin-top: 15px;*/
  }
  QGroupBox::title {
      subcontrol-origin: margin;
      subcontrol-position: top center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
  }
  PlotWidget{
      /*border: 1px solid white;*/
      border-radius: 5px;
      background-color: rgb(142, 218, 191);
      font: 15px Verdana, Arial
      color: blue;
  }
  QLabel {
      /*border: 1px solid white;*/
      border-radius: 5px;
      background-color:  rgb(186, 227, 230);
      font: 25px Verdana, Arial
      font-family: Arial
      color: rgb(0, 0, 131);
  }
  QPushButton {
      /*border: 1px solid black;*/
      border-radius: 5px;
      background-color: rgb(160, 223, 219);
      font: 20px Verdana, Arial
      color: rgb(0, 0, 0);
  }
  QDial
  {
      background-color: rgb(160, 223, 219);
  }